* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation {
    list-style: none;
    text-align: center;
    margin: 60px 20px;
}

.navigation li {
    display: inline-block;
    padding: 0 10px;
    
}

.navigation li a {
    text-decoration: none;
    color: #E48D00;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0 10px;
}

.navigation li a:hover {
    border: 1px solid #E48D00;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: #E48D00;
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

section {
    width: 85%;
    margin: 0 auto;
}

.popup-gallery {
    background-color: #000;
}

.popup-gallery a {

    display: block;
    float: left;
    width: 33.33%;
    height: auto;
    overflow: hidden;
    margin: -5px;
}

img {
   width: 100%;
}
